.footer {
  min-width: 100%;
  position: relative;
  margin-bottom: 3px;
  background-color: #e4e4e1;
  background-image: linear-gradient(to top, white 0%, black 100%);
  background-blend-mode: normal, multiply;
}

.footer .nightimage {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
}
